table {
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    font-size: 14px;
    background: white;
    max-width: 85%;
    width: 100%;
    border-collapse: collapse;
    text-align: center;
    margin: 0 auto;
}

td {
    color: #669;
    padding: 10px 15px;
    transition: .3s linear;
}

th {
    font-weight: normal;
    color: #039;
    border-bottom: 2px solid #6678b1;
    padding: 10px 15px;
    background-color: #27aedb;
}

th, td{border: 1px solid #000}
tr:hover td {background-color: coral}
tr:nth-child(2n) {background: #e8edff;}