label {
  display: block;
  font-size: 16px;
  margin-bottom: 10px;
  text-align: center;
}
input {
  padding: 16px 26px;
  border-radius: 20px;
  border: 1px solid gray;
}
textarea {
  padding: 30px 27px;
  border-radius: 14px;
  border: 1px solid gray;
}