.form {
  display: flex;
  flex-direction: column;
  width: 350px;
  margin: 15px 0;
  padding: 10px;
  color: #00685A;
  background-color: #fff;
  border-radius: 3px;
  box-shadow: 0 0 4px 4px rgba(0, 0, 0, 0.1);

  &_disable {
    opacity: .5;
  }

  &__success {
    font-size: 12px;
    color: green;
  }

  &>label {
    font-size: 14px;
    margin: 5px 0;
  }

  &__error {
    font-size: 12px;
    color: red;
  }

  &>button {
    margin-top: 10px;
  }

  &__status {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px 0;

    &>label {
      display: flex;
      margin: 0 5px;
      align-items: center;
      cursor: pointer;

      &>input {
        margin-left: 5px;
      }
    }
  }
}