.overlay {
    display: flex;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    padding: 16px;
    background-color: rgba(1, 1, 1, 0.625);
    overflow: auto;
    z-index: 10000;
}

.modal {
    position: fixed;
    border-radius: 5%;
    width: 400px;
    height: 50%;
    margin: auto;
    top: 0;
    padding: 20px;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #FFF;
    z-index: 111111;
    overflow: auto;

    &>form {
        margin: 0;
        box-shadow: none;
    }
}