.pagination {
  display: flex;
  & > li {
    display: flex;
    min-width: 34px;
    height: 34px;
    margin: 0 3px;
    justify-content: center;
    align-items: center;
    border: 1px solid #000;
    cursor: pointer;
    transition: .1s ease-in-out;

    &:hover {
      background-color: gray;
    }

    & > a {
      text-decoration: none;
      color: #00685A;
    }
  }

  &_active {
    background: #8bc34a;
  }
}