.task {
  width: 100%;
  margin: 10px 0;
  padding: 15px;
  color: #000;
  border-radius: 3px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);

  &__user {
    font-size: 14px;
  }

  &__text {
    margin: 15px 0;
  }

  &__status {
    font-size: 14px;
  }
}