.menu {
    display: flex;
    width: 100%;
    padding: 15px;
    background-color: lavender;
    margin: 0;
}
.menu_items {
    padding: 10px 15px;

    margin: 0 10px;
    list-style-type: none;
    font-size: 16px;
    font-family: "Courier New", sans-serif;
    background-color: #27aedb;
}
.menu_items:hover {
    background-color: coral;
}

.menu_items a {
    color: #fff;
    text-decoration: none ;
}
.menu_items a:hover {
    text-decoration: none ;
    color: #000;
}

